
ul li {
  list-style-type: none;
  background: rgba(74, 74, 204, 0.274);
  margin: 5px;
  top: 50%;
}

ul li a:hover, ul li a:focus {
  color: violet;
 }

 ul li img {
  height: 25px;
  justify-content: right;
 }

ul {
  background: #365ca7;
  padding: 5px;
  width: 50%;
  margin-left: 25%;
}

input {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body {
  background-color: rgba(74, 74, 204, 0.274)
}

a:link {
  color: white;
}

a:visited {
  color: grey
}

body {
  color: lightgray
}

button {
  background-color: rgb(40, 54, 133);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.App {
  text-align: center;
  margin: 20
}

.Container {
  display: block;
  padding: 20px 0;
  margin-top: 30px
}

.App-header {
  background-color: #365ca7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: lightskyblue;
}

.App-link {
  color: #61dafb;
}

.userPic {
  margin-top: 30px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
