img {
  margin-top: 30px
}

li {
  list-style-type: none
}

input {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

body {
  background-color: rgba(74, 74, 204, 0.274)
}

button {
  background-color: rgb(65, 40, 133);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.App {
  text-align: center;
  margin: 20
}

.Container {
  display: block;
  padding: 20px 0;
  margin-top: 30px
}

.App-header {
  background-color: #365ca7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
